.container {
  display: flex;
  height: 100vh;
  color: #1F1F1F;
  background-color: #FFFFFF;
  font-family: 'AbbVoice';

  .container__left-section {
    background-color: #FFFFFF;
    flex: 0 0 30%;
    z-index: 1;

    @media (max-width: 600px) {
      margin: 0;
      display: none;
    }
  }

  .container__right-section {
    background-image: url('/assets/img/background.png');
    background-size: cover;
    flex-grow: 1;
    position: relative;
    margin: 60px 60px 180px 0;
    border-radius: 10px;

    @media (max-width: 600px) {
      margin: 0
    }
  
    .card {
      background-color: #FFFFFF;
      width: 700px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      position: absolute;
      top: 50%;
      left: -150px;
      transform: translateY(-25%);
      z-index: 2;
      border-radius: 10px;

      @media (max-width: 600px) {
        width: 100%;
      }

      .card__content {
        background-color: #FFFFFF;
        border-radius: 4px;
        padding: 8px 20px;
      
        .card__header {
          width: 100%;
          margin-bottom: 20px;

          .header {
            font-size: 20px;
            font-weight: bold;
          }
        }
      
        .card__body {
          display: flex;
          justify-content: space-between;
          height: 120px;

          @media (max-width: 600px) {
            display: block;
          }
      
          .card__left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          
            .selected-data {
              font-weight: bold;
            }
          }

          .card__right {
            .hint-text {
              color: #686868;
              font-size: 16px;
              margin: 8px 0;
            }

            @media (max-width: 600px) {
              display: none;
            }
          }

          .vertical-hr { 
            border:         none;
            border-left:    1px solid hsla(200, 10%, 50%, 0.5);
            height:         100px;
            margin: 0;

            @media (max-width: 600px) {
              display: none;
            }
          }      
        }
      }

      @media (max-width: 600px) {
        left: 0;
        transform: translateY(0);
      }
    }
  }
}
