.container {
  display: flex;
  height: 100vh;
  color: #1F1F1F;
  background-color: #FFFFFF;

  .container__left-section {
    background-color: white;
    flex: 0 0 30%;
    z-index: 1;
  }
  
  .container__right-section {
    background-image: url('/assets/img/background.png');
    flex-grow: 1;
    position: relative;
    margin: 60px 60px 180px 0;
    border-radius: 10px;
  
    .card {
      background-color: white;
      width: 700px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      position: absolute;
      top: 50%;
      left: -150px;
      transform: translateY(-25%);
      z-index: 2;
      border-radius: 10px;
      font-family: 'AbbVoice';
    
      .card__content {
        background-color: #FFFFFF;
        border-radius: 4px;
        padding: 8px 20px;
      
        .card__header {
          width: 100%;
          margin-bottom: 20px;

          .header {
            font-size: 20px;
            font-weight: bold;
          }
        }
      
        .card__body {
          display: flex;
          justify-content: space-between;
          height: 120px;
      
          .card__left {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
          
            .dropdown-container {
              border: 1px solid #1F1F1F;
              border-radius: 4px;
              display: inline-block;
              position: relative;
              cursor: pointer;
              width: 400px;
              font-size: 14px;
        
              &.focused {
                border: 2px solid #3366FF;
              }
          
              .selected-item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 10px 20px;
                cursor: pointer;
        
                .chevron-icon {
                  transition: transform 0.3s ease;
                  transform: rotate(180deg);
                  filter: brightness(25%);
                
                  &.is-dropdown-open {
                    transform: rotate(0deg);
                    filter: none;
                  }
                }
              }
            
              .dropdown-options {
                position: absolute;
                width: 100%;
                background-color: #FFFFFF;
                border-radius: 4px;
                overflow: hidden;
                z-index: 1;
                box-shadow: 0 4px 26px rgba(0, 0, 0, 0.5);
            
                .dropdown-options__option {
                  padding: 8px 20px;
                  cursor: pointer;
                  display: flex;
                  justify-content: space-between;
            
                  &.selected-option {
                    background-color: #3366FF;
                  }
            
                  &:hover {
                    background-color: #3366FF;
                  }
            
                  .check-icon {
                    display: inline;
                    margin-left: 5px;
                  }
                }
              }
            }
        
            .selected-data {
              font-weight: bold;
            }
          }

          .card__right {
            .hint-text {
              color: #686868;
              font-size: 16px;
              margin: 8px 0;
            }
          }
      
          .vertical-hr { 
            border:         none;
            border-left:    1px solid hsla(200, 10%, 50%, 0.5);
            height:         100px;
            margin: 0;
          }      
        }
      }
    }
  }
}

